<div class="table-responsive">
<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th>name</th>
      <th>birthday</th>
      <th>street</th>
      <th>city</th>
      <th>state</th>
      <th>country</th>
      <th>telephone</th>
    </tr>
  </thead>

  <tbody>
    <tr *ngFor="let people of peoples">
      <td>{{people.name}}</td>
      <td>{{people.birthday}}</td>
      <td>{{people.street}}</td>
      <td>{{people.city}}</td>
      <td>{{people.state}}</td>
      <td>{{people.country}}</td>
      <td>{{people.telephone}}</td>
    </tr>
  </tbody>
</table>
</div>
